@model RedirectViewModel

<style>
    .location-redirect {
        display: none;
    }
</style>

<script>
    $(function () {
        var currentLanguage = '@Model.CurrentLanguage';
        var languageBasedOnIp = '@Model.CurrentLanguageBasedOnIp';

        function getTemplate(language) {
            return $("#redirect-template").innerHTML.replace(/{{language}}/g, language);
        }

        // Add question for ip language, if necessary
        if (currentLanguage !== languageBasedOnIp) {
            var template = getTemplate(languageBasedOnIp);
            $(".location-redirect-wrapper").append($(template));
        }

        var hasGeolocation = false;
        var languageBasedOnGeo = '';

        try {
            if (navigator.geolocation) {
                hasGeolocation = true;
                navigator.geolocation.getCurrentPosition(function (currentPosition) {
                    var geocoder = new google.maps.Geocoder();
                    var geolocation = new google.maps.LatLng(currentPosition.coords.latitude, currentPosition.coords.longitude);
                    geocoder.geocode(geolocation, function (geocodeResults, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            var geocodeResult = geocodeResults[0];

                            // Add question for geolocation language, if any
                            var template = getTemplate(geocodeResult.location);
                            $(".location-redirect-wrapper").append($(template));
                        }
                    });
                });
            }
        } catch (ex) {
            // can't find geolocation
        }

        $(".location-redirect-wrapper").on("click", ".location-redirect__true", function (ev) {
            ev.preventDefault();
            if (ev.target && ev.target.dataset && ev.target.dataset.redirectLanguage) {
                // redirect to language
                window.location = window.location.origin + ev.target.dataset.redirectLanguage;
            }
        });
        $(".location-redirect-wrapper").on("click", ".location-redirect__false", function (ev) {
            ev.preventDefault();

            $(ev.target).parent().hide();
        });
    });
</script>
<script type="text/template" id="redirect-template">
    <div class="location-redirect">
        <span>Do you want to switch to the site with language '{{language}}'?</span>
        <button class="location-redirect__true" data-redirect-language="{{language}}">Yes</button>
        <button class="location-redirect__false">No</button>
    </div>
</script>

<div class="location-redirect-wrapper"></div>